---
BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 8
ColumnLimit: 140
# BreakBeforeBraces: Linux
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: None
AlignConsecutiveMacros: Consecutive
SortIncludes: CaseInsensitive
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '^".*"'
    Priority: 3
